<footer class="text-white">
    <div class="footer-icons bg-info col-lg-12 col-md-12 py-5">
        <div class="md-5 container d-flex justify-content-center">
            <a href="#" class="fa fa-facebook mx-2"></a>
            <a href="#" class="fa fa-twitter mx-2"></a>
            <a href="#" class="fa fa-youtube mx-2"></a>
            <a href="#" class="fa fa-snapchat-ghost mx-2"></a>
            <a href="#" class="fa fa-linkedin mx-2"></a>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3 text-info">© 2020 Copyright :
        <a href="#"> Orinoco</a>
    </div>
</footer>